#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <18>;  
        rows = <7>;    

        // QMK Layout mapping from kb.h:
        //              | K002 | K003 | K004 | K005 |                                      | K012 | K013 | K014 | K015 |              
        //        | K101 | K102 | K103 | K104 | K105 |                                      | K112 | K113 | K114 | K115 | K116 |      
        //  | K200 | K201 | K202 | K203 | K204 | K205 |                                      | K212 | K213 | K214 | K215 | K216 | K217 |
        //  | K300 | K301 | K302 | K303 | K304 | K305 |                                      | K312 | K313 | K314 | K315 | K316 | K317 |
        //  | K400 | K401 | K402 | K403 |             | K406 |                          | K411 |             | K414 | K415 | K416 | K417 |
        //                                                  | K507 | K508 |      | K510 | K511 |                                     
        //                                                  | K607 | K608 |      | K610 | K611 |

        map = < 
                    RC(0,2) RC(0,3) RC(0,4) RC(0,5)                                             RC(0,12) RC(0,13) RC(0,14) RC(0,15)
            RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                                             RC(1,12) RC(1,13) RC(1,14) RC(1,15) RC(1,16)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                                     RC(2,12) RC(2,13) RC(2,14) RC(2,15) RC(2,16) RC(2,17)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                                     RC(3,12) RC(3,13) RC(3,14) RC(3,15) RC(3,16) RC(3,17)
            RC(4,0) RC(4,1) RC(4,2) RC(4,3)                 RC(4,4)                     RC(4,13)                 RC(4,14) RC(4,15) RC(4,16) RC(4,17)
                                                                    RC(5,6) RC(5,7)     RC(5,10) RC(5,11)
                                                                    RC(6,6) RC(6,7)     RC(6,10) RC(6,11)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        // Row pins mapping from QMK: B0, B1, B2, B3, B4, B5, B6 (7 rows)
        row-gpios = 
                    <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    physical_layouts {
        compatible = "zmk,physical-layouts";

        layout: layout {
            compatible = "zmk,physical-layout";
            display-name = "Default";
            transform = <&default_transform>;
            kscan = <&kscan0>;

            keys = <
                // Row 0: 4 keys left + 4 keys right (indices 0-7)
                //              | K002 | K003 | K004 | K005 |          | K012 | K013 | K014 | K015 |
                &key_physical_attrs 100 100  200    0  0 0 0    // 0: K002
                &key_physical_attrs 100 100  300    0  0 0 0    // 1: K003
                &key_physical_attrs 100 100  400    0  0 0 0    // 2: K004
                &key_physical_attrs 100 100  500    0  0 0 0    // 3: K005
                &key_physical_attrs 100 100  900    0  0 0 0    // 4: K012
                &key_physical_attrs 100 100 1000    0  0 0 0    // 5: K013
                &key_physical_attrs 100 100 1100    0  0 0 0    // 6: K014
                &key_physical_attrs 100 100 1200    0  0 0 0    // 7: K015

                // Row 1: 5 keys left + 5 keys right (indices 8-17)
                //        | K101 | K102 | K103 | K104 | K105 |          | K112 | K113 | K114 | K115 | K116 |
                &key_physical_attrs 100 100  100  100  0 0 0    // 8:  K101
                &key_physical_attrs 100 100  200  100  0 0 0    // 9:  K102
                &key_physical_attrs 100 100  300  100  0 0 0    // 10: K103
                &key_physical_attrs 100 100  400  100  0 0 0    // 11: K104
                &key_physical_attrs 100 100  500  100  0 0 0    // 12: K105
                &key_physical_attrs 100 100  900  100  0 0 0    // 13: K112
                &key_physical_attrs 100 100 1000  100  0 0 0    // 14: K113
                &key_physical_attrs 100 100 1100  100  0 0 0    // 15: K114
                &key_physical_attrs 100 100 1200  100  0 0 0    // 16: K115
                &key_physical_attrs 100 100 1300  100  0 0 0    // 17: K116

                // Row 2: 6 keys left + 6 keys right (indices 18-29)
                //  | K200 | K201 | K202 | K203 | K204 | K205 |          | K212 | K213 | K214 | K215 | K216 | K217 |
                &key_physical_attrs 100 100    0  200  0 0 0    // 18: K200
                &key_physical_attrs 100 100  100  200  0 0 0    // 19: K201
                &key_physical_attrs 100 100  200  200  0 0 0    // 20: K202
                &key_physical_attrs 100 100  300  200  0 0 0    // 21: K203
                &key_physical_attrs 100 100  400  200  0 0 0    // 22: K204
                &key_physical_attrs 100 100  500  200  0 0 0    // 23: K205
                &key_physical_attrs 100 100  900  200  0 0 0    // 24: K212
                &key_physical_attrs 100 100 1000  200  0 0 0    // 25: K213
                &key_physical_attrs 100 100 1100  200  0 0 0    // 26: K214
                &key_physical_attrs 100 100 1200  200  0 0 0    // 27: K215
                &key_physical_attrs 100 100 1300  200  0 0 0    // 28: K216
                &key_physical_attrs 100 100 1400  200  0 0 0    // 29: K217

                // Row 3: 6 keys left + 6 keys right (indices 30-41)
                //  | K300 | K301 | K302 | K303 | K304 | K305 |          | K312 | K313 | K314 | K315 | K316 | K317 |
                &key_physical_attrs 100 100    0  300  0 0 0    // 30: K300
                &key_physical_attrs 100 100  100  300  0 0 0    // 31: K301
                &key_physical_attrs 100 100  200  300  0 0 0    // 32: K302
                &key_physical_attrs 100 100  300  300  0 0 0    // 33: K303
                &key_physical_attrs 100 100  400  300  0 0 0    // 34: K304
                &key_physical_attrs 100 100  500  300  0 0 0    // 35: K305
                &key_physical_attrs 100 100  900  300  0 0 0    // 36: K312
                &key_physical_attrs 100 100 1000  300  0 0 0    // 37: K313
                &key_physical_attrs 100 100 1100  300  0 0 0    // 38: K314
                &key_physical_attrs 100 100 1200  300  0 0 0    // 39: K315
                &key_physical_attrs 100 100 1300  300  0 0 0    // 40: K316
                &key_physical_attrs 100 100 1400  300  0 0 0    // 41: K317

                // Row 4: 4 keys left + 1 thumb + 1 thumb + 4 keys right (indices 42-51)
                //  | K400 | K401 | K402 | K403 |       | K406 |    | K411 |       | K414 | K415 | K416 | K417 |
                &key_physical_attrs 100 100    0  400  0 0 0    // 42: K400
                &key_physical_attrs 100 100  100  400  0 0 0    // 43: K401
                &key_physical_attrs 100 100  200  400  0 0 0    // 44: K402
                &key_physical_attrs 100 100  300  400  0 0 0    // 45: K403
                &key_physical_attrs 100 100  500  400  0 0 0    // 46: K406 (left thumb top)
                &key_physical_attrs 100 100  900  400  0 0 0    // 47: K411 (right thumb top)
                &key_physical_attrs 100 100 1100  400  0 0 0    // 48: K414
                &key_physical_attrs 100 100 1200  400  0 0 0    // 49: K415
                &key_physical_attrs 100 100 1300  400  0 0 0    // 50: K416
                &key_physical_attrs 100 100 1400  400  0 0 0    // 51: K417

                // Row 5: thumb cluster (indices 52-55)
                //                                    | K507 | K508 |    | K510 | K511 |
                &key_physical_attrs 100 100  600  500  0 0 0    // 52: K507 (LALT)
                &key_physical_attrs 100 100  700  500  0 0 0    // 53: K508 (LGUI)
                &key_physical_attrs 100 100  800  500  0 0 0    // 54: K510 (LGUI right)
                &key_physical_attrs 100 100  900  500  0 0 0    // 55: K511 (ENTER)

                // Row 6: thumb cluster (indices 56-59)
                //                                    | K607 | K608 |    | K610 | K611 |
                &key_physical_attrs 100 100  600  600  0 0 0    // 56: K607 (BSPC)
                &key_physical_attrs 100 100  700  600  0 0 0    // 57: K608 (DEL)
                &key_physical_attrs 100 100  800  600  0 0 0    // 58: K610 (BSPC right)
                &key_physical_attrs 100 100  900  600  0 0 0    // 59: K611 (SPACE)
            >;
        };
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &layout;
    };
};
